:root{
    --primary-background:#0089fd;
    --info-background:#f8f8f8;
    --danger-background:#ff4d00;
    --warning-background:#ff8d35;
    --success-background:#3f75ff;
    background-image: linear-gradient(344deg, #034391, #f8f8f8, #0371d8, #0089fd)
}